.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {

    --title-size: 32px;
    --card-title-size: 24px;
    --text-size: 16px;

    --title-weight: 700;
    --button-weight: 600;
    --list-weight: 500;
    --text-weight: 400;

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #656C7C;
    --color-disable: #B1B8C9;

    --color-btn-primary: #FFECF0;
    --color-btn-dribble: #EA4C89;

    --best-value-color: #FDB72E;
    --best-value-border-radius: 40px;

    --card-margin-left: 20px;
    --card-margin-top: 30px;

    --btn-padding: 15px 110px;
    --btn-radius: 8px;

    --font-family: Inter, sans-serif;

    --card-color: #FFFFFF;
    --card-color-selected: #1769FF;

    --card-title-gap: 13px;
    --list-item-gap: 20px;
    --card-gap: 32px;

    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.texts-container {
    gap: 16px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
